.vagrant
.project
.settings
.idea
.vs
.vscode
*.bak
*.log
*.suo
*/*.csproj.user
!.gitkeep
[Bb]in/
[Oo]bj/
[Ll]og/
Properties/
Backup/
UpgradeLog.htm
StyleCop.Cache
!AspNetCoreApiExample/Properties/launchSettings.json
