[Unit]
Description=ASP.NET Core Application daemon

[Service]
WorkingDirectory={{ app_svr_work_dir }}
ExecStart=/usr/bin/dotnet {{ app_svr_dll }}
ExecStop=/bin/kill ${MAINPID}
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-app
Type=simple
User={{ user }}
Group={{ group }}
Environment="ASPNETCORE_ENVIRONMENT={{ app_environment }}"
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
